   <footer class="footer">
        <div class="container">
            <p>&copy; 2025 SANTOS MINIG. Todos los derechos reservados.</p>
            <div class="social-icons">
                <a href="https://www.facebook.com/ParkMinJhessyR" target="_blank">Facebook</a> |
                <a href="https://www.instagram.com/jheseniaromero/" target="_blank">Instagram</a> |
                <a href="https://wa.me/51973771526" target="_blank">WhatsApp</a>
            </div>
        </div>
    </footer>